body {
    padding: 0px;
    margin: 0px;
    background-color: #01266c;
}

.navBar {
    padding: 20px;
    background-color: white;
}

.navBar .navBarBody {
    height: 70px;
}

.navBar .navBarLogo {
    float: left;
    height: 70px;
    display: flex;
}

.navBar .navBarLogo h1 {
    color: #01266c;
    font-weight: bolder;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navBar .Menu {
    float: right;
    height: 70px;
    display: flex;
    align-items: center;
}

.navBar .Menu a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 5px 15px;
    background-color: #01266c;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navBar .Menu a img {
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
}

.navBar .Menu .displayMobileMenuIcon img {
    display: none;
    height: 40px;
    padding: 10px;
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
}

.navBar .Menu .displayMobileMenuIcon img:hover {
    background-color: rgb(145, 145, 145);
    ;
}


.navBar .Menu a:hover {
    background-color: #505969;
}

.navBar .navBarLogo img {
    height: 70px;
}

.navBar .mobileMenu {
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(218, 218, 218);
    display: none;
}

.navBar .mobileMenu a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 15px;
    background-color: #01266c;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 10px;
    text-align: center;
}

.navBar .mobileMenu a:hover {
    background-color: #0041b9;
}

.appInfo {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 30%;
}

.appInfo h1 {
    color: white;
    text-align: center;
}

.appInfo .actionButton {
    display: flex;
    gap: 10px;
}

.appInfo .actionButton button {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #01266c;
}

.appInfo .appLogo {
    display: flex;
    justify-content: center;
}

.appInfo .appLogo img {
    width: 70%;
}

.appInfo .actionButton button:hover {
    color: white;
    background-color: #505969;
}

@media screen and (max-width: 620px) {
    .navBar .Menu a {
        display: none;
    }

    .navBar .Menu .displayMobileMenuIcon img {
        display: block;
    }

    .appInfo {
        width: 80%;
    }

}