<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/Style/HomeStyle.css" %}">
    <link rel="shortcut icon" href="{% static "Logo.png" %}" type="image/x-icon">
    <title>Budget Guru - Home Page</title>
</head>

<body>

    <!-- Navigation Bar -->
    <section class="navBar">
        <div class="navBarBody">
            <div class="navBarLogo">
                <img src="{% static "Logo.png" %}" alt="" srcset="">
                <h1>Budget Guru</h1>
            </div>
            <div class="Menu">
                <a href="">
                    <img src="{% static "UI/Home.png" %}"  alt="" srcset="">
                    <span>Home</span>
                </a>
                <a href="">
                    <img src="{% static "UI/About.png" %}"  alt="" srcset="">
                    <span>About</span>
                </a>
                <a href="">
                    <img src="{% static "UI/SignIn.png" %}"  alt="" srcset="">
                    <span>Log In</span>
                </a>
                <a href="">
                    <img src="{% static "UI/SignUp.png" %}"  alt="" srcset="">
                    <span>Sign Up</span>
                </a>
                <div class="displayMobileMenuIcon">
                    <img src="{% static "/UI/MenuIcon.png" %}" alt="Toggle Button" onclick="toggleMenu()" srcset="">
                </div>
            </div>
        </div>

        <div id="navBarMobileMenu" class="mobileMenu">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Login</a>
            <a href="">Sign Up</a>
        </div>
    </section>

    <section class="appInfo">
        <div class="appLogo">
            <img src="{% static "Images/appInfoLogo.png" %}" alt="" srcset="">
        </div>
        <h1>Track expenses, set goals, and watch your savings grow with our intuitive budget app. Start managing your money effortlessly today</h1>
        <div class="actionButton">
            <button>Get Started</button>
            <button>Sign In</button>
        </div>
    </section>

    <script src="{% static "/Script/HomeScript.js" %}"></script>
</body>

</html>