<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/Style/HomeStyle.css" %}">
    <link rel="shortcut icon" href="{% static "Logo.png" %}" type="image/x-icon">
    <title>Budget Guru - Home Page</title>
</head>

<body>

    <!-- Navigation Bar -->
    <section class="navBar">
        <div class="navBarBody">
            <div class="navBarBody">
                <div class="navBarLogo">
                    <img src="{% static "Logo.png" %}" alt="" srcset="">
                    <h1>Budget Guru</h1>
                </div>
                <div class="Menu">
                    <a href="/">
                        <img src="{% static "UI/Home.png" %}"  alt="" srcset="">
                        <span>Home</span>
                    </a>
                    <a href="">
                        <img src="{% static "UI/About.png" %}"  alt="" srcset="">
                        <span>About</span>
                    </a>
                    <a href="/Account">
                        <img src="{% static "UI/SignIn.png" %}"  alt="" srcset="">
                        <span>Log In</span>
                    </a>
                    <a href="/Account">
                        <img src="{% static "UI/SignUp.png" %}"  alt="" srcset="">
                        <span>Sign Up</span>
                    </a>
                    <div class="displayMobileMenuIcon">
                        <img src="{% static "/UI/MenuIcon.png" %}" alt="Toggle Button" onclick="toggleMenu()" srcset="">
                    </div>
                </div>
            </div>
    
            <div id="navBarMobileMenu" class="mobileMenu">
                <a href="/">Home</a>
                <a href="">About</a>
                <a href="/Account">Login</a>
                <a href="/Account">Sign Up</a>
            </div>
    </section>

    <!-- Simple Information about Web Application  -->
    <section class="appInfo">
        <div class="appLogo">
            <img src="{% static "Images/appInfoLogo.png" %}" alt="" srcset="">
        </div>
        <h1>Track expenses, set goals, and watch your savings grow with our intuitive budget app. Start managing your money effortlessly today</h1>
        <div class="actionButton">
            <button>Get Started</button>
            <button>Sign In</button>
        </div>
    </section>

    <!-- Main Features of Our Application -->
    <section class="appFeatures">
        <div class="feature">
            <div class="logo">
                <img src="{% static "Images/expense-track.png" %}" alt="" srcset="">
            </div>
            <div class="title">
                <h1>Expense Tracking</h1>
                <div class="body"><p>
                    Say goodbye to the hassle of manual expense tracking. With Budget Guru, you can effortlessly monitor your spending. Log your expenses, add descriptions, categorize them, and track dates with just a few clicks. Connect your bank accounts and cards for automatic import and categorization. Take control of your money with precision!
                </p></div>
            </div>
        </div>

        <div class="feature">
            <div class="logo">
                <img src="{% static "Images/budget-plan.png" %}" alt="" srcset="">
            </div>
            <div class="title">
                <h1>Budget Planning</h1>
                <div class="body">
                    <p>Plan your financial future with confidence using our budgeting tools. Create custom budgets for all your spending categories, whether it's groceries, rent, or entertainment. Set precise limits for each category – you decide whether it's a fixed amount or a percentage of your income. We'll send you timely alerts as you approach or exceed your budget limits.</p>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="logo">
                <img src="{% static "Images/financial-insights.png" %}" alt="" srcset="">
            </div>
            <div class="title">
                <h1>Financial Insights and Reports</h1>
            </div>
            <div class="body">
                <p>Knowledge is power. Gain deep insights into your financial habits with our comprehensive reports and visual charts. Our reports provide a clear snapshot of your spending patterns over time. You'll also receive actionable insights and recommendations tailored to your spending habits, helping you make smarter financial decisions.</p>
            </div>
        </div>

        <div class="feature">
            <div class="logo">
                <img src="{% static "Images/goal-track.png" %}" alt="" srcset="">
            </div>
            <div class="title">
                <h1>Goal Tracking and Savings</h1>
            </div>
            <div class="body">
                <p>Make your financial dreams a reality with Budget Guru. Set, track, and achieve your financial goals effortlessly. Whether it's saving for a dream vacation, paying off debt, or building an emergency fund, our app has you covered. Automatically allocate funds to your goals and stay motivated as you watch your progress through easy-to-read visual indicators.</p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section class="footer">
        <div class="footerMain">
            <h3 class="left">Budget Guru - 2023</h3>
            <h3 class="right">Made By: <i>Sheroz Akram</i></h3>
        </div>
    </section>
    
    <script src="{% static "/Script/HomeScript.js" %}"></script>
</body>

</html>